<div class="modal-dialog" >
	<h4 class="modal-title" id="myModalLabel">Fill below details to save and run the algorithm. </h4>
	<tt-error-messages extra-styles="access-screen"></tt-error-messages>	
	<form name="dynamicForm" id="dynamicForm" >
			<div class="modal-body">
				<div id="formFieldContainer" ng-repeat="field in dynaFormFields.formFields">
					<div ng-if="field.type === 'TEXT'" class="row">
						<div class="col-md-5 nopadding">
							<label>{{field.label}}:</label>
						</div>
						<div class="col-md-6">
							<input type="text" ng-model="field.selectedValue">
						</div>
					</div>
					<div ng-if="field.type === 'SELECT'" class="row">
						<div class="col-md-5 nopadding">
							<label>{{field.label}}:</label>
						</div>
						<div class="col-md-6">
							<select ng-model = "field.selectedValue" ng-options="selectField.key as selectField.value for selectField in field.keyValues"></select>
						</div>
					</div>
					<div ng-if="field.type === 'RADIO'" class="row">
						<div class="col-sm-3" ><label>{{field.label}}:</label></div>
						 <div ng-repeat="radioOption in field.keyValues" class="col-sm-3 nopadding">
						 		{{radioOption.value}} <input type="radio" ng-model="field.selectedValue" ng-value="radioOption.key" 
						 		value="{{radioOption.key}}" ng-change="addSelectedValues(this)"/>

						 </div>
					</div>	 
					<div ng-if="field.type === 'CHECKBOX'" class="row">
						<div class="col-md-5 nopadding">
							<label>{{field.label}}:</label>
						</div>
						 <div ng-repeat="checkBox in field.keyValues" class="col-sm-1 nopadding">
						 		{{checkBox.value}} <input type="checkbox" ng-value="checkBox.key" />

						 </div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				  <button class="btn btn-primary" ng-click="saveDynamicAlgorithmForm()">Save and Run the Algorithm</button>
        		  <button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
			</div>
	</form>

</div>
