

<div class="modal-dialog">
	<h4 class="modal-title" id="myModalLabel">Project details</h4>
	<form name="newProject" ng-submit="saveProject()">
			<div class="modal-body">
				<input placeholder='Project Name'  type="text" name="vm.projects.projectName" ng-model="vm.projects.projectName" required>	
					<br></br>
				<!-- <input type="text" name="projectName"><br> <br> -->
				<input id="btnAdd" type="button" value="Add Numeric" ng-click ="addNumeric()"/> 
				<input id="btn2Add" type="button" value="Add Nominal" ng-click ="addNominal()"/> <br /> <br />
				<div id="TextBoxContainer">
					<!--Textboxes will be added here -->
				</div>
				<div class="modal-footer">
				 <button type="submit" class="pure-button pure-input-1 pure-button-primary">Save</button>
            	<button class="btn btn-warning" ng-click="cancelProject()" class="btn">Cancel</button>
			<!-- </form> -->
				</div>
			</div>
		</form>

</div>
		
	
	<!-- 	<div class="ngdialog-message">
            <h3>ngDialog modal example</h3>
            <p>The <code>.openConfirm()</code> function returns a promise that is resolved when confirmed and rejected when otherwise closed. Modal dialogs by default do not close when clicked outside the dialog or when hitting escape. This can ofcourse be overridden when opening the dialog.</p>
            <p>Confirm can take a value. Enter one here for example and see the console output: <input ng-model="confirmValue" /></p>
        </div>
        <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(confirmValue)">Confirm</button>
            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Cancel</button>
        </div> -->

